{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
  <p><img src={% static 'img/fallout.png' %} width="200" height="200" 
    alt="Иллюстрация" align="left" vspace="5" hspace="5">
    <b>Имя:</b> Анатолий;<br/>
    <b>Родился:</b> В прошлом веке;<br/>
    <b>Семейной положение:</b> Женат;<br/>
    <b>Характер:</b> Очень дружелюбен, общителен, оптимистичен и приветлив.<br/>
       Хороший дипломат. Выступает за соблюдение здорового образа жизни;<br/>
    <b>Особые приметы:</b> Не имеет;<br/>
    <b>Интересы:</b> Автоматизация управления ресурсами;<br/>
    <b>Описание:</b> Родился, учился, влюбился и женился;
  </p>
</div>
{% endblock %}
